@import url("variables.css");
@import url("common-styles.css");
@import url("index.css");
@import url("signUP-IN.css");
@import url("profile.css");
@import url("cart.css");
@import url("categories.css");

/* Null styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* ---------- */

/* Style for hidden vertical scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
     }
    ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
      }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.no-scroll{
    overflow: hidden;
}
/* ---------- */

/* Change lang styles */
.change-lang{
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 6px 0 6px 0;
    height: 33px;
    border: 2px solid var(--bg-color);
    border-radius: 7px;
}
.change-lang a{
    border: 1px solid transparent;
    padding: 5px 11px;
    color: var(--color-text);
}
.change-lang a:hover{
    border: 1px solid var(--color-text);
    border-radius: 5px;
    background-color: var(--color-text);
    color: var(--bg-color);
}
/* ---------- */


/* Media query */
@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  {}
@media (max-width:961px)  { 
    .header__content{
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .header__caption{
        align-items: center;
    }
    .header__media{
        flex-direction: column;
    }
    .header__media-items{
        flex-direction: row;
    } 
    .change-lang{
        top: 55px;
        right: 90px;
    }
    .header__nav{
        justify-content: space-between;
    }
    .header__list{
        display: none;
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .menu-burger{
        display: block;
        position: fixed;
        top: 44px;
        right: 15px;
    }
    .burger {
        position: relative;
        top: 14px;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: var(--color-text);
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 var(--color-text);
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-burger-list {
        display: none;
    }
    .menu-burger-list.active{
        top: 0;
        right: 0;
        position: fixed;
        display: flex;
        gap: 300px;
        flex-direction: column;
        padding: 90px 0 0 0;
        background: var(--bg-burger);
        list-style-type: none;
        transform: translateX(100%);
        transition: .3s;
        width: 100%;
        height: 100%;
    }
    .menu-burger-item{
        display: block;
        padding: 5px;
        color: #FDDBE8;
        font-size: 36px;
        text-align: center;
        text-decoration: none;
    }
    .menu-burger-item:nth-child(5), :nth-child(6), :nth-child(7){
        display: inline;
    }
    .menu-burger-item:hover {
        background: rgba(255,255,255,.2);
    }
    .burger-checkbox:checked ~ .menu-burger-list {
        transform: translateX(0);
    }    
    .menu-burger-media{
        display: flex;
        justify-content: space-between;
        padding: 0 30px 0 30px;
    }
    .footer__media img{
        display: none;
    }

}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }
/* ---------- */

/* Connection of fonts */
@font-face {
    font-family: "Literata-r";
    src: url(../fonts/Literata_18pt-Regular.ttf);
}
@font-face {
    font-family: "Literata-b";
    src: url(../fonts/Literata_18pt-Bold.ttf);
}
@font-face {
    font-family: "Limelight";
    src: url(../fonts/Limelight-Regular.ttf);
}
/* ---------- */
